

@import url("https://db.onlinewebfonts.com/c/365834cfa7beb7ca64c00476397ddc32?family=Helvetica+Neue+Medium+Extended");
@font-face {
    font-family: "Helvetica Neue Medium Extended";
    src: url("https://db.onlinewebfonts.com/t/365834cfa7beb7ca64c00476397ddc32.eot");
    src: url("https://db.onlinewebfonts.com/t/365834cfa7beb7ca64c00476397ddc32.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/365834cfa7beb7ca64c00476397ddc32.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/365834cfa7beb7ca64c00476397ddc32.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/365834cfa7beb7ca64c00476397ddc32.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/365834cfa7beb7ca64c00476397ddc32.svg#Helvetica Neue Medium Extended")format("svg");
}

*{
    font-family: 'Helvetica Nueue Medium Extended';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p{
    color: #828282;
}

:root{
    --body-color: orange;
    --sidebar-color: white;
    --primary-color: blue;
    --primary-color-light: purple;
    --text-color: purple;
}

.accountinfocont{
    display: flex;
    align-items: center;
}

.userinfo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.namecont{
    margin-top: 30px;
    width: 1px;
    font-size: 38px;
    display: flex;
    align-items: center;
}

.flavrr{
    color: #e38377;
    font-family: "Paytone One";
    padding-left: 74px;
}

.name{
    color: #828282;
    margin-top: 20px;
    font-family: "Helvetica Neue Medium Extended";
}

.username{
    color: #828282;
    margin-top: 4px;
    font-family: "Helvetica Neue Medium Extended";
}

.acc-pic{
    border-radius: 60px;
    margin-top: 30px;
    width: 80px;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebar-color);
    transition: left 0.5s cubic-bezier(0, 0.52, 0, 1);
}

.sidebar-minimized {
    width: 125px; /* Set half of the original width */
  }
  

.accountcont{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: center;
}

.hometext{
    color: #828282;
    padding-left: 12px;
    font-family: "Helvetica Neue Medium Extended";;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 30px;
}

.home{
    width: 38px;
    height: 38px;
}

.explorecont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.search{
    width: 30px;
    height: 30px;
    margin-left: -7px;
}

.explore{
    color: #828282;
    padding-left: 12px;
    font-family: "Helvetica Neue Medium Extended";;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.favoritescont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.heart{
    width: 45px;
    height: 45px;
    margin-right: 8px;
}

.favorites{
    color: #828282;
    font-family: "Helvetica Neue Medium Extended";;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatcont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.msgpic{
    width: 35px;
    height: 35px;
    margin-left: -10px;
}

.chat{
    color: #828282;
    font-family: "Helvetica Neue Medium Extended";;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
}

.settingscont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.settingpic{
    width: 35px;
    height: 35px;
    margin-left: -5px;
}

.settings{
    color: #828282;
    font-family: "Helvetica Neue Medium Extended";;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 12px;
}

.appsections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center items vertically in the halved sidebar */
    color: pink;
}

.additional-class{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.appsections a {
    text-decoration: none;
    color: inherit;
    transition: 0.15s ease-in 0 ease-out;
    width: 100%;
    box-sizing: border-box;
    opacity: 1; /* Set initial opacity to 1 */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appsections a:hover {
    background-color: rgba(47, 47, 47, 0.1);
}

/* Update button containers to have consistent styling */
.accountcont,
.explorecont,
.favoritescont,
.chatcont,
.settingscont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px; /* Adjust the padding as needed */
}

.wrapper {
    position: relative;
    overflow-x: hidden;
}

.arrow {
    position: fixed;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    background: #fbe2eb;
    transition:0.25s cubic-bezier(0, 0.25, 0, 1);
    color: black;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.arrow-active {
    left: 215px; /* Adjust the position based on the width of your sidebar */
    border-radius: 50px;
    margin-right: 100px;
    background: #fbe2eb;

}

.flogo-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
  }
  
  .flogo {
    color: #e38377;
    font-family: "Helvetica Neue Medium Extended";
    display: flex;
    align-items: end;
    font-size: 45px;
  }